<section class="about">
  <div class="avatar">
    <span class="me"><img src="assets/img/me.jpg" alt="me" /></span>
    <h1>Ivan Maiorov</h1>
    <p>Professional Armor Maker</p>
  </div>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui ex, fringilla a sagittis vitae, mattis in lectus. Proin feugiat egestas justo, id ullamcorper tortor vestibulum ut. Mauris vel varius ipsum. Etiam et purus vitae libero tincidunt vestibulum. Nam gravida at libero ac cursus. Etiam dictum mattis placerat. Nam condimentum, nisl at consectetur viverra, leo elit maximus quam, nec placerat erat lacus ut felis. Vivamus imperdiet malesuada urna ut pulvinar. Suspendisse in quam ante. Integer lacinia leo non justo laoreet, eu ornare elit efficitur.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui ex, fringilla a sagittis vitae, mattis in lectus. Proin feugiat egestas justo, id ullamcorper tortor vestibulum ut. Mauris vel varius ipsum. Etiam et purus vitae libero tincidunt vestibulum. Nam gravida at libero ac cursus. Etiam dictum mattis placerat. Nam condimentum, nisl at consectetur viverra, leo elit maximus quam, nec placerat erat lacus ut felis. Vivamus imperdiet malesuada urna ut pulvinar. Suspendisse in quam ante. Integer lacinia leo non justo laoreet, eu ornare elit efficitur.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui ex, fringilla a sagittis vitae, mattis in lectus. Proin feugiat egestas justo, id ullamcorper tortor vestibulum ut. Mauris vel varius ipsum. Etiam et purus vitae libero tincidunt vestibulum. Nam gravida at libero ac cursus. Etiam dictum mattis placerat. Nam condimentum, nisl at consectetur viverra, leo elit maximus quam, nec placerat erat lacus ut felis. Vivamus imperdiet malesuada urna ut pulvinar. Suspendisse in quam ante. Integer lacinia leo non justo laoreet, eu ornare elit efficitur.
  </p>
</section>

<section class="skills">
  <h3>What is important and valuable to me</h3>
  <ul class="skills">
    <li>...</li>
    <li>...</li>
    <li>...</li>
  </ul>
</section>

<section class="skills">
  <h3>My strengths</h3>
  <ul class="skills">
    <li>...</li>
    <li>...</li>
    <li>...</li>
  </ul>
</section>

<section class="skills">
  <h3>Things that motivate me</h3>
  <ul class="skills">
    <li>...</li>
    <li>...</li>
    <li>...</li>
  </ul>
</section>

<section class="skills">
  <h3>Things I don’t like</h3>
  <ul class="skills">
    <li>...</li>
    <li>...</li>
    <li>...</li>
  </ul>
</section>

<section class="skills">
  <h3>My weaknesses and things I want to improve</h3>
  <ul class="skills">
    <li>...</li>
    <li>...</li>
    <li>...</li>
  </ul>
</section>

<section class="skills">
  <h3>Skills</h3>
  <ul class="skills">
    <li>...</li>
  </ul>
</section>

<section class="skills">
  <h3>Tools</h3>
  <ul class="skills">
    <li>...</li>
  </ul>
</section>

<section class="skills">
  <h3>Miscellaneous</h3>
  <ul class="skills">
    <li>...</li>
    <li>DIY</li>
  </ul>
</section>

<section class="history">
  <h3>Brief History in Time</h3>
  <ul>
    <li>
      <h4>Freelance Designer</h4>
      <span class="description">Various Clients <span>&mdash;</span> Japan/NY/NJ</span>
      <span class="time">2016 &mdash; present</span>
    </li>
    <li>
      <h4>Senior Designer/Art Director</h4>
      <span class="description"><a href="https://infist-incell.com/" target="_blank">Infist Design Co, Ltd. </a><span>&mdash;</span> Tokyo, Japan</span>
      <span class="time">2007 &mdash; 2015</span>
    </li>
    <li>
      <h4>Furniture and Graphic Designer</h4>
      <span class="description"><a href="https://mkmaeda.com/" target="_blank">MK Maeda Furniture Co., Ltd. </a><span>&mdash;</span> Shizuoka, Japan</span>
      <span class="time">2002 &mdash; 2007</span>
    </li>
    <li>
      <h4>Shizuoka Professional Design School</h4>
      <span class="description">Diploma in Industrial Design <span>&mdash;</span> Shizuoka, Japan</span>
      <span class="time">1999 &mdash; 2002</span>
    </li>
  </ul>
</section>

<section class="download">
  <a href="assets/ivan_maiorov_resume.pdf" target="_blank" class="button black">View Resume</a>
</section>

<section class="contact">
  <h3>Contact</h3>
  <p>
    Please feel free to drop me a line at <a [href]="'mailto:' + email">{{ email }}</a> or connect with me on <a href="" target="_blank">LinkedIn</a>.
  </p>
</section>

<!-- <section class="about">
  <h3>About This Website</h3>
  <p>
    This portfolio website is built by Alexey Maiorov, my husband, and designed by me. Thanks!
  </p>
</section> -->
